<?xml version="1.0" encoding="UTF-8"?>

<jsp:root version="2.0"
        xmlns:jsp="http://java.sun.com/JSP/Page" 
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:x="http://java.sun.com/jsp/jstl/format"
          >
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0" />
   
        <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>
        <jsp:directive.include file="../WEB-INF/jspf/sessiones.jspf"/>
            
        
        <style type="text/css">                        
            @import "../css/Basic.css" ;     
            @import "../css/Media.css" ;    
            @import "../css/${SessionTheme}";             
        </style>
        
        
        <script type="text/javascript">   
            
            <jsp:include page="../js/ajax/libreria.js" />
            <jsp:include page="../js/utilidad/funciones.js"/>
            <jsp:include page="../js/validate/Venta/Nuevo.js" />
            <jsp:include page="../js/validate/VentaDetalle/TransaccionLista.js" />
            <jsp:include page="../js/validate/VentaDetalle/TransaccionAgregar.js" />
                
        </script>           
                
    
    <jsp:element name="html">
        <jsp:attribute name="lang">ES</jsp:attribute>
        
        <head>                
        </head>

        
        <body>

            <header>
                <div></div>
            </header>

            <nav>
                <jsp:directive.include file="../WEB-INF/jspf/nav.jspf"/>
            </nav>

            <div id="wrapper">
                
                <aside style="width:5%;">
                    <div></div>
                </aside>

                <section style="width:95%;">                  
                    
                    <article>
                        <h3>Ventas</h3>  
                    </article>
                    
                    <article>
                                                
                        
                        <form
                                id="vn_form"
                                action="../Venta/Transaccion/Guardar.do"
                              >
    
                            
                            <input  TYPE= "TEXT" 
                                    name="venta"
                                    id ="cn_venta"
                                    hidden="true" 
                                    value="0"/>      
                            
                            <div class = "SinEnfoque"
                                  id="i2">                                
                                <label for="factura">Factura</label> 
                                <div class ="textbox">
                                    <input TYPE="TEXT" 
                                           name="factura" 
                                           id ="vn_factura"
                                           size ="20"
                                           />                                
                                </div>            
                            </div>
            
            
                            <div class = "SinEnfoque"
                                  id="i3">                                
                                <label for="fecha_factura">Fecha factura</label> 
                                <div class ="textbox">
                                    <input TYPE="date" 
                                           name="fecha_factura" 
                                           id="vn_fecha_factura"
                                           size ="20"                                              
                                           />                                
                                </div>            
                            </div>
                         
                            
                            <div class = "SinEnfoque" 
                                 id="i4">                                
                                <label for="cliente">Cliente:</label> 
                                <div class ="textbox">
                                    <input TYPE="text" 
                                           name="cliente" 
                                           id ="vn_cliente"
                                           size ="10"                                             
                                           />      

                                
                                    <div class="botonBusqueda">                                        
                                        <a 
                                            href="javascript:void(0);"
                                            id="vn_qry_cliente"
                                            >  ...  </a>                    
                                    </div>                                       
                                    
                        
                                    <output class="campoRelacionado"  
                                        id="vn_cliente_nombre">
                                    </output>                                            
                                    
                                    
                                </div>   
                            </div>
                            
                            
                        </form>	                                   
                        
                    </article> 

                                    
                    <article>
                        <div id="tab_body">
                        </div>
                    </article>                        

                    
                    <article class = "botones-footer">

                            <div class ="commandbutton">                            
                                    <a href="javascript:void(0);"
                                    id = "vn_guardar"  
                                    class="botonEnlace"
                                    >Guardar</a>             
                            </div>                                             


                            <div class ="commandbutton">                            
                                    <a href="javascript:void(0);"
                                    id = "vn_cancelar"  
                                    class="botonEnlace"
                                    >Cancelar</a>             
                            </div>                                             

                    </article>                     

                         
                </section>
            </div>
                        
                        
            <footer>                
                <h6>
                    <jsp:directive.include file="../WEB-INF/jspf/footer.jspf"/>                
                </h6>        
            </footer>
                
                                 
            <div id="capa1">
                <div id="capa_oscura">
                    <div id="capa_clara">                        
                    </div>
                </div>     
            </div>


            <div id="capa2">
                <div id="capa_oscura_segunda">
                    <div id="capa_clara_segunda">                        
                    </div>
                </div>                    
            </div>

            <div id="capa3"></div>
        
                       
            </body>        
    </jsp:element>
                       
</jsp:root>
            
            
            
            
            