<?xml version="1.0" encoding="UTF-8"?>


<jsp:root version="2.0"
    xmlns:jsp="http://java.sun.com/JSP/Page"
     xmlns:c="http://java.sun.com/jsp/jstl/core"
     xmlns:x="http://java.sun.com/jsp/jstl/fmt"
     >


        <table class="tableB"
               id="vdtl_tabla"
               >

                <thead>

                    <tr>
                        <th style="width: 80px;" rowspan="2">Cantidad</th>
                        <th style="width: 300px;" rowspan="2">Descripcion</th>
                        <th style="width: 100px;" rowspan="2" >Precio</th>
                        <th colspan="3">Precio de ventas</th>
                    </tr>

                    <tr>
                        <th style="width: 100px;">Exenta</th>
                        <th style="width: 100px;">5%</th>
                        <th style="width: 100px;">10%</th>
                    </tr>

                </thead>
                <tbody>
                    <c:forEach items="${VentaDetalleTransaccionSessionLista}" var ="lista" >

                         <tr>

                                <td>
                                    <id
                                        data-reg ="${lista.id}">
                                    </id>

                                    ${lista.cantidad}
                                </td>

                                <td>
                                    <descripcion>${lista.producto.nombre}</descripcion>
                                </td>
                                <td class="right">
                                        ${lista.producto.precio_venta}
                                </td>


                                <td class="right-aling">
                                     ${lista.porcentaje0}
                                </td>
                                <td class="right-aling">
                                     ${lista.porcentaje5}
                                </td>
                                <td class="right-aling">
                                    ${lista.porcentaje10}
                                </td>

                        </tr>
                    </c:forEach>


                </tbody>
        </table>

       
        
        <table class="tableB">

            <thead>
                <tr>
                    <th style="width: 80px; border: none;"></th>
                    <th style="width: 300px; border: none;"></th>
                    <th style="width: 100px; border: none;"></th>

                    <th style="width: 100px; border: none;"></th>
                    <th style="width: 100px; border: none;"></th>
                    <th style="width: 100px; border: none;"></th>

                </tr>
            </thead>


                <tfoot>


                    <tr>
                        <td colspan="3" >
                                Subtotales
                        </td>


                        <td class="right-aling"
                            id = "vdtl_gravada0">
                        </td>
                        <td class="right-aling"
                            id = "vdtl_gravada5">
                        </td>
                        <td class="right-aling"
                            id = "vdtl_gravada10">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="5" >

                            <spam>Total a pagar : </spam>
                            <spam>&#160; &#160; &#160; </spam>

                            <spam id = "vdtl_totalletra"> 
                            </spam>

                        </td>

                        <td class="right-aling"
                          id = "vdtl_monto_total">
                        </td>

                    </tr>
                    <tr>
                        
                        
                    <table class="tableB">                        
                            <tfoot>
                                <td>Liquidacion IVA:</td>                                                        
                                <td style="width: 20px"></td>                                                        
                                <td>(5%)</td>                                                        
                                <td style="width: 20px"></td>
                                <td id = "vdtl_iva5"></td>                                                        
                                <td style="width: 20px"></td>                                                        
                                <td>(10%)</td>
                                <td style="width: 20px"></td>                                                                                    
                                <td id = "vdtl_iva10"></td>                              
                                <td style="width: 20px"></td>                                                        
                                <td>Total IVA:</td>                                                        
                                <td style="width: 20px"></td>
                                <td id = "vdtl_IVA"></td>                              
                            </tfoot>
                        </table>
                        
                    </tr>

                </tfoot>

        </table>


        <article>


            <jsp:scriptlet>

                    request.setAttribute("Pagina", request.getAttribute("Pagina")) ;
                    request.setAttribute("Lineas", request.getAttribute("Lineas"));
                    request.setAttribute("TotalRegistros", request.getAttribute("TotalRegistros"));
                    request.setAttribute("Vinculo", request.getAttribute("Vinculo"));

                    request.setAttribute("htmlElemento", "tab_body");
                    request.setAttribute("ajaxFuncion", "javascript:AjaxPeticion");

            </jsp:scriptlet>

        </article>


        <article class = "botones-footer">
            <div class ="commandbutton">
                          <a href="javascript:void(0);"
                          id = "vdtl_agregar"
                          class="botonEnlace2"
                          >Agregar</a>
            </div>
        </article>



</jsp:root>
